<h1>Welcome to Exzeitable!</h1>

<p>Here are the examplary (exzei-)tables:</p>
<ul>
  <li><span><%= link("Posts", to: Routes.post_path(@conn, :index)) %></span></li>
  <li><span><%= link("Users", to: Routes.user_path(@conn, :index)) %></span></li>
</ul>
